.bg-teal-400 {
    background-color: #26A69A;
    border-color: #26A69A;
    color: #fff;
}
.bg-indigo-300 {
    background-color: #7986CB;
    border-color: #7986CB;
    color: #fff;
}
.bg-indigo-800 {
    background-color: #283593;
    border-color: #283593;
    color: #fff;
}
.bg-pink-400 {
    background-color: #EC407A;
    border-color: #EC407A;
    color: #fff;
}
.bg-slate {
    background-color: #607D8B;
    border-color: #607D8B;
    color: #fff;
}