.navbar-nav > li > a,
.icons-list > li > a {
    -webkit-transition: all ease-in-out 0.15s;
    -o-transition: all ease-in-out 0.15s;
    transition: all ease-in-out 0.15s;
}
.page-container {
    position: relative;
}
@media (min-width: 769px) {
    .page-container {
        width: 100%;
        display: table;
        table-layout: fixed;
    }
}
@media (min-width: 769px) {
    .page-content {
        display: table-row;
    }
}
.content-wrapper {
    width: 100%;
}
@media (min-width: 769px) {
    .content-wrapper {
        display: table-cell;
        vertical-align: top;
    }
}
.content {
    padding: 0 20px 60px 20px;
}
.content:after {
    content: '';
    display: table;
    clear: both;
}
.layout-boxed {
    background: url(../img/boxed_bg.png) repeat;
}
.layout-boxed > .navbar {
    margin-left: auto;
    margin-right: auto;
}
.layout-boxed .page-container {
    background-color: #f5f5f5;
    margin-left: auto;
    margin-right: auto;
    min-width: 0;
}
@media (min-width: 769px) {
    .layout-boxed .page-container,
    .layout-boxed > .navbar {
        width: 769px;
    }
}
@media (min-width: 1025px) {
    .layout-boxed .page-container,
    .layout-boxed > .navbar {
        width: 1025px;
    }
}
@media (min-width: 1200px) {
    .layout-boxed .page-container,
    .layout-boxed > .navbar {
        width: 1200px;
    }
}
@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .layout-boxed {
        background: url(../img/boxed_bg_retina.png) repeat;
    }
}
.footer {
    position: absolute;
    bottom: 30px;
}
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.pace .pace-progress {
    background: #4FC3F7;
    position: fixed;
    z-index: 2000;
    top: 0;
    width: 100%;
    right: 100%;
    height: 2px;
}
.pace-inactive {
    display: none;
}
.map-container {
    height: 500px;
}
.gm-style {
    font-size: 13px;
}
.heading-elements-toggle {
    cursor: pointer;
    display: block;
    line-height: 1;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
}
.heading-elements-toggle,
.heading-elements-toggle:hover,
.heading-elements-toggle:focus {
    color: inherit;
}
.heading-elements-toggle > i {
    top: 0;
}
@media (min-width: 769px) {
    .heading-elements-toggle {
        display: none;
    }
}
.heading-elements {
    background-color: inherit;
    position: absolute;
    top: 50%;
    right: 20px;
    height: 36px;
    margin-top: -18px;
}
@media (max-width: 768px) {
    .heading-elements:not(.not-collapsible) {
        position: static;
        margin-top: 0;
        height: auto;
    }
}
.panel-body > .heading-elements {
    top: 0;
    margin-top: 14px;
    z-index: 10;
}
.heading-elements:not(.visible-elements) .heading-text,
.heading-elements:not(.visible-elements) .icons-list {
    float: left;
    margin-left: 20px;
}
.heading-elements:not(.visible-elements) .heading-text {
    display: inline-block;
}
.heading-elements:not(.visible-elements) .icons-list {
    margin-top: 10px;
}
.heading-elements:not(.visible-elements) .heading-text {
    margin-top: 8px;
}
@media (max-width: 768px) {
    .heading-elements:not(.not-collapsible) {
        display: none;
    }
}
.content-group {
    margin-bottom: 20px!important;
}
.no-margin {
    margin: 0!important;
}