html {
    height: 100%;
}
body {
    position: relative;
    min-height: 100%;
}
a {
    cursor: pointer;
}
a:focus {
    outline: 0;
}
h3,
h4,
h5 {
    letter-spacing: -0.015em;
}
a,
button {
    outline: 0;
}
.page-header {
    margin: 0;
    padding: 0;
    border-bottom-width: 0;
}
.page-header-default {
    background-color: #fff;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 1px 0 0 #ddd;
    box-shadow: 0 1px 0 0 #ddd;
}
.page-title {
    padding: 32px 36px 32px 0;
    display: block;
    position: relative;
}
.page-title h4 {
    margin: 0;
}
@media (min-width: 769px) {
    .page-title {
        padding-right: 0;
    }
}
.page-header-content {
    position: relative;
    background-color: inherit;
    padding: 0 20px;
}
.text-size-small {
    font-size: 12px;
}
ul {
    padding-left: 25px;
}
.icons-list {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1;
    font-size: 0;
}
.icons-list > li {
    position: relative;
    display: inline-block;
    margin-left: 5px;
    font-size: 13px;
}
.icons-list > li:first-child {
    margin-left: 0;
}
.icons-list > li > a {
    color: inherit;
    display: block;
    opacity: 1;
    filter: alpha(opacity=100);
}
.icons-list > li > a:hover,
.icons-list > li > a:focus {
    opacity: 0.75;
    filter: alpha(opacity=75);
}
code {
    border-radius: 2px;
    word-wrap: break-word;
}
pre {
    padding: 20px;
    margin: 0;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}
label {
    margin-bottom: 7px;
    font-weight: 400;
}
.nav > li > a:focus {
    outline: 0;
}
.navbar {
    margin-bottom: 0;
    border-width: 1px 0;
    padding-left: 0;
    padding-right: 0;
}
@media (min-width: 769px) {
    .navbar {
        padding-left: 20px;
        padding-right: 20px;
    }
}
.navbar-header {
    min-width: 260px;
}
.navbar-header .navbar-nav {
    float: right;
    margin-right: 5px;
}
.navbar-header .navbar-nav > li {
    float: left;
}
.navbar-header .navbar-nav > li > a {
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 769px) {
    .navbar-header {
        margin-left: -20px;
    }
}
@media (max-width: 768px) {
    .navbar-fixed-top {
        position: static;
    }
}
@media (min-width: 769px) {
    .navbar-top {
        padding-top: 48px;
    }
}
.navbar-brand > img {
    margin-top: 2px;
    height: 16px;
}
.navbar-nav {
    margin: 0;
    text-align: left;
}
.navbar-nav > li > a {
    padding-top: 13px;
    padding-bottom: 13px;
}
@media (max-width: 768px) {
    .navbar-nav {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    .navbar-nav > li > a {
        padding-left: 20px;
        padding-right: 20px;
    }
    .navbar-nav:last-child {
        border-bottom: 0;
    }
}
@media (min-width: 769px) {
    .navbar-nav {
        margin-left: 20px;
    }
}
.navbar-inverse {
    border-bottom-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}
.badge {
    padding: 2px 6px 1px 6px;
    font-size: 10px;
    letter-spacing: 0.1px;
    vertical-align: baseline;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 100px;
}
.panel {
    margin-bottom: 20px;
    border-color: #ddd;
    color: #333333;
}
.panel[class*=bg-] .text-muted {
    color: rgba(255, 255, 255, 0.8);
}
.panel-body {
    position: relative;
}
.panel-flat > .panel-heading + .panel-body {
    padding-top: 0;
}
.panel-heading {
    position: relative;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.panel-flat > .panel-heading {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
}
.panel-flat > .panel-heading > .panel-title {
    margin-top: 2px;
    margin-bottom: 2px;
}
.panel-title {
    position: relative;
    font-size: 13px;
}
h5.panel-title {
    font-size: 17px;
}
.icons-list a[data-action] {
    vertical-align: middle;
    -webkit-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
}
.icons-list a[data-action]:after {
    font-family: 'icomoon';
    font-size: 16px;
    min-width: 16px;
    text-align: center;
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icons-list a[data-action="collapse"]:after {
    content: '\e9c1';
}
.icons-list a[data-action="reload"]:after {
    content: '\e9fb';
}
.icons-list a[data-action="close"]:after {
    content: '\e9b6';
}
.gm-style-pbc {
    transition: opacity ease-in-out;
    background-color: rgba(0, 0, 0, 0.45);
    text-align: center;
}
.gm-style-pbt {
    font-size: 22px;
    color: white;
    font-family: Roboto, Arial, sans-serif;
    position: relative;
    margin: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}