<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Current Location via Google Maps</h5>
        <div class="heading-elements">
            <ul class="icons-list">
                <li><a data-action="collapse"></a></li>
                <li><a data-action="reload"></a></li>
                <li><a data-action="close"></a></li>
            </ul>
        </div>
    </div>

    <div class="panel-body">
        <div class="map-container map-basic"></div>
    </div>
</div>
<script type="text/javascript">
    $(function() {
        function initialize() {
            var myLatlng = new google.maps.LatLng(<?php echo $this->ipDetails['latitude']; ?>, <?php echo $this->ipDetails['longitude']; ?>);

            var mapOptions = {
                zoom: 10,
                center: myLatlng
            };

            var map = new google.maps.Map($('.map-basic')[0], mapOptions);
            var contentString = 'Amsterdam';

            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });

            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title: 'Hello World!'
            });

            google.maps.event.addListener(marker, 'click', function() {
                infowindow.open(map,marker);
            });

        };

        google.maps.event.addDomListener(window, 'load', initialize);

    });

</script>