<div class="row">
    <div class="col-lg-4">

        <div class="panel bg-indigo-300">
            <div class="panel-body">
                <div class="heading-elements">
                    <span class="heading-text badge bg-indigo-800"><?php echo $this->ipDetails['country']; ?></span>
                </div>

                <h3 class="no-margin"><?php echo $this->ipDetails['ip']; ?></h3>
                Current IP Address
                <div class="text-muted text-size-small"><?php echo $this->ipDetails['country_name']; ?></div>
            </div>

            <div class="container-fluid">
                <div id="members-online"></div>
            </div>
        </div>

    </div>

    <div class="col-lg-4">

        <div class="panel bg-pink-400">
            <div class="panel-body">
                <h3 class="no-margin"><?php echo $this->ipDetails['city']; ?></h3>
                <?php echo $this->ipDetails['region']; ?>
                <div class="text-muted text-size-small">lat,lng: <?php echo $this->ipDetails['loc']; ?></div>
            </div>

            <div id="server-load"></div>
        </div>

    </div>

    <div class="col-lg-4">

        <div class="panel bg-slate">
            <div class="panel-body">
                <div class="heading-elements">
                    <ul class="icons-list">
                        <li><a data-action="reload"></a></li>
                    </ul>
                </div>

                <h3 class="no-margin"><?php echo $this->weatherDetails->summary(); ?></h3>
                <?php echo $this->weatherDetails->temperature(); ?> degrees
                <div class="text-muted text-size-small"> humidity: <?php echo $this->weatherDetails->humidity(); ?>%</div>
            </div>

            <div id="today-revenue"></div>
        </div>

    </div>
</div>